project_name             = "track-aws"
environment              = "dev"
appsync_graphql_api_name = "api"
aws_region               = "eu-central-1"
# cognito_domain_prefix = "track-dev-123456789012"  # sin la palabra reservada "aws"

tags = {
  CostCenter = "finops"
  Owner      = "platform-team"
}
